.link > .icon {
  margin-right: 10px;
  font-size: 15px;
}

.nav-body {
  overflow-y: auto;
}

.nav-body .link-list {
  list-style-type: none;
  padding: 0;
}

.link > .arrow {
  position: absolute;
  right: 30px;
  top: 16px;
}

.nav-body .link-list > li {
  background: #744f80;
  padding: 5px 0;
  padding: 12px 30px;
  position: relative;
}

.nav-body .link-list > li.active {
  background: #513b58;
}

.tranformY {
  transform: translateY(5px);
}

.nav-body .link {  
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  font-size: 15px;
}

.nav-ctrl .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFF;
}

.icon-bar+.icon-bar {
  margin-top: 3px;
}

.nav-wrap {
  background: #232429;
  z-index: 1000;
  width: 250px;
  position: fixed;
  top: 0;
  left: -230px;
  min-height: 100vh;
  transition: transform 350ms
}

.btn.nav-ctrl {
  position: absolute;
  right: -35px;
  top: 7px;
  background-color: #1e8596;
  color: white;
  font-size: 20px;
  border: solid #e0e0e0 2px;
  height: 44px;
  width: 44px;
  padding-left: 9px;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 350ms
}

.tranf-btn {
  -webkit-transform: translate(-35px, -7px);
  transform: translate(-35px, -7px);
}

.tranf-nav {
  -webkit-transform: translateX(230px);
  transform: translateX(230px);
  box-shadow: 2px 0px 60px #212225;
}

.btn.nav-ctrl:focus {
  outline:0;
}

.btn.nav-ctrl:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-header {
  height: 60px;
  background-color: rgba(252, 252, 255, 0.1);
  border-bottom: solid rgb(86, 189, 206);
}

.nav-header h4 {
  margin: 0;
  color: rgb(228, 228, 228);
  font-size: 19px;
  position: absolute;
  top: 23px;
  left: 21px;
  font-weight: bold;
}


.nav-bar-top {
  width: 100%;
  height: 30px;
  position: fixed;
  background: linear-gradient(to top left, #1e8596, #79d3e2);
  z-index: 500;
  top: 0;
}
