<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="margin-bottom: 0; font-weight: bold;"> Marco de Canaveses </h2>
        <h3 style="margin-top: 0;"> Porto </h3>
        <span> {{ date }} </span>
      </div>
    </div>
</div>

<div class="container live-data">
  <div class="row">      
    <div class="col-md-12 text-center">
      <skycons-canvas [properties]="porperties"></skycons-canvas>
      <span id="weather-name"> {{ weather.name }} </span>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-12 text-center" style="margin-top: -5px" [@fadeAnim]='state' (@fadeAnim.done)="animationDone($event)">
      <span id="weather-temp"> {{ liveData? liveData.temperature: '--.-' }} </span> 
      <span style="font-size: 30px; font-weight: bold;"> ºC </span>
      <span *ngIf="!liveData || liveData.risingTemp" style="position: absolute; top: 0;" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <span *ngIf="!liveData || !liveData.risingTemp" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row side-row">
    <div class="col-sm-4">
      <h4> Humidade: </h4>
      <div class="side-data-container" [@fadeAnim]='state'>
        <span> {{ liveData? liveData.humidity: '--.-' }}% </span>
        <span *ngIf="!liveData || liveData.risingHum" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span *ngIf="!liveData || !liveData.risingHum" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4 side-live-data">
      <h4> Pressão: </h4>
      <div class="side-data-container" [@fadeAnim]='state'>
        <span> {{ liveData? liveData.pressure: '--.-' }} milibares </span>
        <span *ngIf="!liveData || liveData.risingPres" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span *ngIf="!liveData || !liveData.risingPres" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </div>
    </div>
  </div>  
</div>
