
#weather-name {
  font-size: 20px;
  display: inline-block;
  position: relative;
  font-weight: bold;
  top: -20px;
}

#weather-temp {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  margin-top: -10px; 

}

.text-center {
  text-align: center;
}
